<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

  <suite thread-count="1" verbose = "1" name="Suite" parallel="tests">
  <test name = "BrazilShipping">
    <classes>
      
      <class name="com.TestCases.BrazilShippingAddressChangesTest"/>
      </classes>
      </test>
      
   <test name = "BrazilBilling">
   <classes>
      <class name="com.TestCases.BrazilBillingAddressChangesTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
